/*verification de la taille et positionnement des boites quand activés (enlevé commentaire) */
/* div,
p,
nav,
h2,
h3 {
    border: dotted 1px blue;
} */

/* Mise à zéro des marges par défauts et box-sizing*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Effet fadeIn sur tous les éléments */
h2, h3, h4, figure, img, li, p, .btnContain__btn  {
  animation: fadeIn 5s normal;
  -webkit-animation: fadeIn 5s normal;
  -o-animation: fadeIn 5s normal;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
