.row {
    width: 100%;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
}

.productLoader {
    text-align: center;
}

.btn-category-filter {
    min-width: 100px;
}

.filtersContainer {
    font-size: 0.9em;
}

.filtersContainer h4 {
    font-size: 1.2em;
}