.row {
    width: 100%;
    height: fit-content;
    overflow: initial;
    margin-left: 7%;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
}

.productLoader {
    text-align: center;
}

.btn-category-filter {
    min-width: 100px;
}

.filtersContainer {
    position:sticky;
    top: 0px;
    height: fit-content;
    font-size: 0.9em;
}

.filtersContainer h4 {
    font-size: 1.2em;
}

.filtersContainer h3 {
    font-family: 'Adventure';
}

.fa-cart-shopping:hover {
    color: #1a4292
}

