 /*header et navigation*/
 .header {
     height: 150px;
     /* 132px dans l'énoncé mais 150px ressemble plus à la maquette */
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .header ul {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 
 .header ul li a {
     color: white;
     text-decoration-line: none;
     font-family: 'Rajdhani';
     font-size: 36px;
     font-weight: 500;
     text-transform: uppercase;
 }

 .header .active {
    /*gras et souligné sur la page active*/
     color: #B11313;
     text-shadow: 1px 0 0 #B11313;
     text-decoration-line: underline;
 }
 
 .header ul li a:hover {
     padding: 0;
     color: #B11313;
     text-shadow: 1.5px 0 0 #B11313;
     text-decoration-line: underline;
 }
 
 .header ul li {
     margin: 5px 20px;
 }

.navBarBtn {
    width: 120px;
    height: 30px;
    padding: 0 ;
    opacity: 0.8
}
 .header__divLogo {
    width: 125px;
 }

 .header__divLogo img {
    width: 100%
 }