#hero {
    margin: 250px 2% 200px
}

#hero h1 {
    font-family: 'Adventure';
    font-size: 75px;
}

@media (max-width: 600px) {
    #hero h1 {
        font-size: 50px ;
    }
}

.toBottomArrow {
    width: 100% ;
    text-align: center;
}