#hero {
    margin: 225px 7% 200px
}

#hero h1 {
    font-family: 'Adventure';
    font-size: 75px;
}

@media (max-width: 900px) {
    #hero {
        margin: 125px 10% 150px
    }

    #hero h1 {
        font-size: 50px ;
    }
}

@media (max-width: 600px) {
    #hero h1 {
        font-size: 30px ;
    }
}

.toBottomArrow {
    width: 100% ;
    text-align: center;
}