/* Mise à zéro des marges par défauts et box-sizing*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Définition des couleurs de base */

:root {
  --myBlack: #000000;
  --myWhite: #FFFFFF;
  --myGrey: #7C7675;
  --myRed: #B11313;
  --myYellow: #F1C530;
  --myBlue: #07338C;
}

/*POLICES*/ 
  @font-face {
    font-family: 'Rajdhani';
    src: url(../polices/Rajdhani/Rajdhani-Regular.ttf), url(../polices/Rajdhani/Rajdhani-Medium.ttf), url(../polices/Rajdhani/Rajdhani-Bold.ttf), url(../polices/Rajdhani/Rajdhani-Light.ttf), url(../polices/Rajdhani/Rajdhani-SemiBold.ttf) format('ttf');
}
  @font-face {
    font-family: 'Cantarell';
    src: url(../polices/Cantarell/Cantarell-Regular.ttf), url(../polices/Cantarell/Cantarell-Bold.ttf), url(../polices/Cantarell/Cantarell-BoldItalic.ttf) format('ttf');
}
  @font-face {
    font-family: 'Adventure';
    src: url(../polices/adventure/Adventure.otf),  format('otf');
}

html, body {
  color: var(--myWhite);
  font-family: 'Cantarell';
  font-size: 16px;
}

p {
  margin: 30px 0;
}

a {
  color: white;
}

h2 {
  font-family: 'Rajdhani';
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}

section {
  margin : 50px 10%
}

/* Effet fadeIn sur tous les éléments */
/* h2, h3, h4, figure, img, li, p, .btnContain__btn  {
    animation: fadeIn 5s normal;
    -webkit-animation: fadeIn 5s normal;
    -o-animation: fadeIn 5s normal;
  } 

  @keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

/*Bouton*/
.btnContain {
  display: flex;
  justify-content: center;
}

button, .btnContain__btn {
  text-align: center;
  width: 200px;
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  background: var(--myBlue);
  border: none;
}

button:hover, .btnContain__btn:hover,
button:focus, .btnContain__btn:focus {
  background: linear-gradient(80deg, #07338C, #B11313);
  cursor:pointer;
}

button,
.btnContain__btn a,
.btnContain__btn {
  font-family: 'Adventure';
  font-size: medium;
  font-weight: 400;
  color: white;
  text-decoration: none;
}