/* Mise à zéro des marges par défauts et box-sizing*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Définition des couleurs de base */

body {
    background: linear-gradient(#000000, #212E3E);
}

:root {
    --myYellow: #FFFF00;
    --myGrey50: #c4c4c450;
    --myGreyfull: #c4c4c4;
    --myGreyBorder: #bcbbbd44;
    --myMarineBleu: #19587D;
  }