body {
  background: linear-gradient(#000000, #212E3E);
}

.backgroundImg {
  max-height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -10;
}

.backgroundImg img {
  width: 100%;
  z-index: -1 ;
}

#appBody {
  margin-right: 5%;
  margin-left: 5%;
}

main {
  z-index: 10;
}

.bgRadiant {
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(at 80% 20%, #7c767586 5%, #000000 95%), linear-gradient(to bottom, black, transparent, #000000);

}

.eshopRadiant {
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, black 25px,#7c76754b 300px, rgba(0, 0, 0) 800px,  #212E3E 1200px);
}

.backgroundImg img {
  position: relative;
  width: 150%;
  top: 20px;
  right: 0px;
  left: -40%
}