.monCompte__header {
    margin: 250px 10% 200px
}

.monCompte__header h1 {
    font-family: 'Adventure';
    font-size: 85px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .monCompte__header h1 {
        font-size: 50px ;
    }
}

.userStatus {
    font-size: 1.3em;
}

.fa-circle-user {
    position: relative;
    top: 7px
}