.productItemOrder h6 {
    text-transform: capitalize;
}

.orderProductItemContainer {
    max-height: 150px;
}

.orderProductItemContainer img{
    max-height: 150px;
    width: auto;
}

.orderMainPart {
    padding: 50px;
    background: linear-gradient(to bottom, #19587D, transparent)
}

