.priceNameContainer {
    height: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    border: 2px solid grey;
}

.product-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 250px
}
.product-img img {
    width: 100%;
    height: auto;
}

.deletedPrice {
    font-size: 0.8em;
}

.addBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.addBtnContainer button {
    margin: 0px
}

.itemContainer {
    cursor: pointer;
}